body {
    background-image:
}
header, main, nav, footer {
    text-align:center;
    font-size:.9em;
}
main p {
    text-align:left;
}
footer{
    clear:both;
}
nav {
    padding:15px;
}
nav a {
    color:blue;
    border: 2px blue solid;
    text-decoration:none;
}
nav b {
    color:white;
    background:black;
    border:2px black solid;
}
nav a:hover {
    color:white;
    background:blue;
    font-weight:bold;
}
  
#image {
    float:right;
    border:2px grey solid;
}
#image img {
    border:2px black solid;
}
#image figcaption{
    
}
